body {
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://wallpaperaccess.com/full/658991.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Optional: Fixed background */
    padding-top: 80px;
    /* Adjusted padding to accommodate fixed navbar */
    color: aliceblue;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    /* Adjusted navbar background color with some transparency */
}

.card {
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    /* Add some top margin to the flex container */
}